p {
    font-family: Arial;
    
    margin: 25px 50px 75px;
    
}
html {
    background-color: #a7f3da;

}
h2 {
	color: #0f1674;
	font-size: 20px; 
}
h3 {
    color: maroon;
  }
  h4 {
    color: rgb(97, 18, 22);
  }
  .title{
      color: teal;
    
  }
.class{ 
    color: rgb(212, 18, 18) 
}
  
.uppercase{
    text-transform: uppercase;
  }
#id {
    color: rgb(212, 18, 18)
}
img {
    padding: 50px 100px; 
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
background color 

  